:global {
  html {
    @import "../../node_modules/normalize.css/normalize.css";

    font-family: "Comic Sans MS";
    font-size: 16px;

    background-image: url("../assets/money.jpg");

    h1 {
      text-shadow: 2px 2px #ff0000;
      font-size: 60px;
    }
  }

  body {
    padding: 1em;
  }
}
