.box {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 1em;
}

p {
  width: 100%;
}

.bad {
  background-color: darkred;
}

.good {
  background-color: darkgreen;
}
