.person {
  border: 10px black solid;
  border-radius: 7px;
  padding: 1em;
  margin: 1em 0;
  width: 100%;

  &:hover {
    border-color: red;
  }
}

@media screen and (min-width: 620px) {
  .person {
    width: 40%;
  }
}

.male {
  background-color: lightblue;
}

.female {
  background-color: pink;
}
